{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{%block title%}CrisprCoders{%endblock%}</title>
	<link rel="shortcut icon" href="{%static 'resources/img/logo.png'%}" />
	<link rel="stylesheet" type="text/css" href="{%static 'resources/css/bootstrap.min.css'%}" />
	<link rel="stylesheet" type="text/css" href="{%static 'resources/fontawesome/css/all.min.css'%}" />
	<link rel="stylesheet" type="text/css" href="{%static 'resources/css/ownstylesheet.css'%}" />

	<script type="text/javascript" src="{%static 'resources/js/JQuery.js'%}"></script>
	<script type="text/javascript" src="{%static 'resources/js/plotly.js'%}"></script>
	<script type="text/javascript" src="{%static 'resources/js/bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'resources/js/script.js'%}"></script>
	{%block links%}{%endblock%}
</head>
<body>
{%block body%}
{%endblock%}
</body>
</html>