{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light shadow-lg py-3">
	<div class="container">
		<a href="/" class="navbar-brand">
			<img src="{% static 'resources/img/logo.png' %}" alt="logo" class="w-100 rounded-circle brand-img">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				{% if not request.user.is_authenticated %}
				<li class="nav-item">
					<a href="/accounts/login" class="nav-link"><span class="fa fa-sign-in"></span> Login</a>
				</li>
				<li class="nav-item">
					<a href="/accounts/register" class="nav-link"><span class="fa fa-user"></span> Register</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a href="/" class="nav-link"><span class="fa fa-user-circle"></span> 
						{% if request.user.first_name %}{{request.user.first_name}} {% else %}
						{{request.user.username}}
						{% endif %}
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" id="logout"><span class="fa fa-sign-out"></span> Logout</a>
				</li>
				<div class="d-none">
					<form method="post" action="/accounts/logout/" id="logoutform">
						{% csrf_token %}
					</form>
				</div>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

<!-- Logging out user must be through post method -->
<script>
	$(function(){
		$('#logout').click(function(){
			$('#logoutform').submit();
		})
	});
</script>