{% load resources_extras %}
<div class="h3 mt-5 home-headings">Personal Details:</div>
<div class="row">
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Birthday:</b> {{data.dob}}</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Age:</b> {% findage data.dob %} years</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Website:</b> <a href={{data.website}}>{{data.website}}</a></div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Email:</b> {{data.email}}</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Religion:</b> {{data.religion}}</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Languages:</b> {{data.languages}}</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Phone:</b> {{data.phone}}</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Address:</b> {{data.address}}</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Marital Status:</b> {{data.marital_status}}</div>
	</div>
	<div class="col-md-6 py-2 border-bottom" id="print">
		<div class="btn btn-block btn-warning"><span class="font-weight-bold">Download CV</span></div>
	</div>
</div>
